.headerad
{
    height: 100px;
    background-color: white;
    text-align: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    font-weight: bold;
    font-size: 50px;
    padding-top: 40px;
    backdrop-filter: blur(20px);  
    box-shadow: 0 0 30px black;
}
button[type=submit]
{
    height:30px;
}

input[type=text]
{
    height: 28px;
    border-radius: 5px;
    size:40;
    margin-right: 50px;
    float: right;
}
select
{
    height: 30px;
    border-radius: 5px;
    size:80;
    margin-right: 50px;
    float: right;
}
#frmnhapsp {
width: 25%;
float: right;
border: 2px solid black;
margin-top: 20px;
margin-right: 40px;
background-color: whitesmoke;
backdrop-filter: blur(20px);

}

.containbox
{
    height: 40px;
    border-bottom: 1px solid black;
    align-content: center;
    padding-top: 10px;
    font-weight: bold;
    margin-top:20px;
    padding-left: 5px;
    
}
table {
    border-collapse: collapse;
    width: 70%;
    margin-top:30px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: blue;
    color: yellow;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.tabletk
{
        border-collapse: collapse;
        width: 90%;
        margin-top:30px;
}

.containboximg
{
    height: 200px;
    border: 1px solid black;
    align-content: center;
    padding-top: 50px;
    font-weight: bold;
    margin-top:20px;
}


#frmdate {
    width: 25%;
    float: right;
    border: 2px solid black;
    margin-top: 20px;
    margin-right: 40px;
    background-color: aquamarine;
    backdrop-filter: blur(20px);
    
    }

    *
    {
        margin-left: 0;
        padding: 0;
    
    }
    .header
    {
        width: 100%;
        height: 80px;
        background-color: rgb(73, 103, 233);
        position: fixed;
    }
    .footer
    {
        position:absolute;
        bottom:0;
        width: 100%;
        height: 120px;
        background-color: black;
        display: flex;
    }
  
    #menu
    {
        width: 60px;
        overflow:hidden;
        background-color: white;    
        position: fixed;
        transition: 0.5s ease;
        display:flex;
        height:100vh;
        z-index: 300    ;
    }
    #alert
    {   

        font-size: 50px;
        font-weight: bolder;
        display: none;
    }
    @media screen and (max-width:900px){
    #menu
    {
    display: none;    
    }
    #alert
    {
        display: block;
    }
    table
    {
        display: none;
    }
    #frmnhapsp
    {
        display: none;
    }
    .headerad
    {
        display:none;
    }

}

#menu ul li:hover
{
    background: #ff6600; }
#menu ul li a
{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 200;
    display: inline-block;
    width: calc(100%-50px);
    height:50px;
    line-height: 20px;
    padding-left: 50px;
    opacity: 0;
    font-style: bold;
}
#menu ul li img
{
    width:50px;
    height: 50px;
    padding-left: 20px;
}
#menu ul li
{
    list-style: none;
    width:100%;
    display: flex;
    border-bottom: 1px solid black;
}
#menu:hover
{
    width:250px;
}
#menu:hover ul li a
{
    opacity: 1;
    transition-delay: 0.25s;
}
    .content
    {
        width:calc(100%-80px);
        height: 700px;
        background-color: white;
        position: block;
        padding-left: 80px;
        padding-top: 80px;
    }
    .container
    {
        width:100%;
        position: relative;
        display: block;
        padding-bottom: 100px;
    }
    .icon
    {
        font-size: 20px;
        margin-left:15px;   
        padding-top: 30px;
        list-style: center;
    }
    .content-section
    {
        width: calc(100% - 80px);
        height: 700px;
        background-color: white;
        position: block;
        padding-left: 80px;
        display: none; /* mặc định không hiển thị chỉ hiển thị khi nhấn vào content tương ứng */
    } 

    #home-content
    {
        display: block; 
    }
    